[Desktop Entry]
Type=Action
Name=Download Subtitle
Name[pt]=Baixar Legenda
Name[en]=Download Subtitle
Icon=text-x-subtitle
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=video/x-msvideo;video/quicktime;video/mp4;video/x-matroska;video/x-ms-wmv;video/webm;video/x-flv;video/3gpp;video/x-m4v;video/mpeg;video/x-ms-asf;video/x-ogm;video/ogg;video/dv;video/x-matroska-3d;video/x-msvideo;video/x-theora;video/x-theora+ogg;video/x-wmv;video/x-ms-wvx;video/x-avi;
Exec=download-subtitle.py %F
SelectionCount=1
